<template>
  <div class="flex h-screen bg-gray-200 items-center">
    <div class="container w-5/6 m-auto">
      <div class="wrapper md:mx-20">
        <div class="input-wrapper flex flex-row">
          <input type="text" class="flex-grow px-2 pt-1 pb-1 rounded-l focus:outline-none" placeholder="input your link"
                 v-model="userInput">
          <button
              @click="load"
              class="flex-grow-0 bg-gray-700 disabled:bg-transparent hover:bg-gray-500 active:bg-gray-300 active:text-black text-center transition-all text-white text-sm md:text-base md:px-3 py-1 rounded-r w-20"
              :disabled="isLoading">
            <template v-if="isLoading" class="flex items-center">
              <bounce-loader size="25px" color="black"></bounce-loader>
            </template>
            <template v-else>CutIt</template>
          </button>
        </div>

        <div class="output-wrapper mt-10" v-show="result">
          <textarea rows="2" class="w-full p-1" v-model="result" ref="shortLink"></textarea>
          <button class="bg-gray-700 hover:bg-gray-500 active:bg-gray-300 active:text-black text-center transition-all text-white text-sm md:text-base md:px-3 py-1 rounded" @click="copy">Copy</button>
        </div>
      </div>
      <notifications position="bottom right" />
    </div>
  </div>
</template>

<script lang="ts">
import { notify } from '@kyvg/vue3-notification'
import {defineComponent, ref, watch} from 'vue'
import BounceLoader from 'vue-spinner/src/BounceLoader.vue'

const DEFAULT_STR = ''

export default defineComponent({
  name: 'App',
  components: {BounceLoader},
  setup() {
    const shortLink = ref<null | HTMLInputElement>(null)
    const userInput = ref<string>(DEFAULT_STR)
    const result = ref<string>(DEFAULT_STR)
    const isLoading = ref<boolean>(false)

    const load = () => {
      if (!userInput.value) {
        notify({
          type: 'warn',
          title: "Information",
          text: "Please, input your long link for make in shorter",
        });
        return
      }
      isLoading.value = true
      setTimeout(() => {
        result.value = "here yours short link! => bla-bla-bla"
        isLoading.value = false
      }, 3000)
    }

    const copy = () => {
      shortLink.value && shortLink.value.select()
      document.execCommand('copy')
    }

    watch(userInput, () => {
        result.value = DEFAULT_STR
    })

    return {userInput, result, isLoading, load, shortLink, copy }
  }
})
</script>
